#About {
  background-color: #788bb8;

}

#Skills {
  background-color: #d2ddf8;
}

#Professional_Summary {
  background-color: #e6edff;
}

#Work_History {
  background-color: #eeeded;
}

